// colors
$primary_color: #f78a35; // yellow orange
$secondary_color: #a2c6e0; // pale blue
$fourth_color: #f4f6de; // cream
$primary_dark: #1c0a01; // dark red
$primary_gray: #e6e9ec; // blue gray

// fonts
$primary_text: 'Roboto', sans-serif;
$emphasis_text: 'Covered By Your Grace', cursive;
$primary_header: 'Roboto Slab', serif;

// mixins

// nomopo
@mixin nomopo {
	padding: 0;
	margin: 0;
}

// backgrounds
@mixin primary_color-bg($opacity: 1) {
	background-color: rgba(247, 138, 53, $opacity);
}

@mixin secondary_color-bg($opacity: 1) {
	background-color: rgba(162, 198, 224, $opacity);
}

@mixin fourth_color-bg($opacity: 1) {
	background-color: rgba(244, 246, 222, $opacity);
}

@mixin primary_dark-bg($opacity: 1) {
	background-color: rgba(28, 10, 1, $opacity);
}

@mixin primary_gray-bg($opacity: 1) {
	background-color: rgba(230, 233, 236, $opacity);
}

// fonts
@mixin primary_header {
	font-family: $primary_header;
}
@mixin primary_text {
	font-family: $primary_text;
}

// border radius
@mixin border_radius($rad) {
	-webkit-border-radius: $rad;
	-moz-border-radius: $rad;
	border-radius: $rad;
}

// box sizing
@mixin box_sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// animation
@mixin linTran($time: 0.2s) {
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	transition: all $time linear;
}

// gradients
@mixin secondary_color-grad {
	background: #a2c6e0; 
	background: -moz-linear-gradient(top,  #a2c6e0 0%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c6e0), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #a2c6e0 0%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #a2c6e0 0%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #a2c6e0 0%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #a2c6e0 0%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c6e0', endColorstr='#ffffff',GradientType=0 ); 
}

@mixin fourth_color-grad {
	background: #f4f6de; 
	background: -moz-linear-gradient(top, #f4f6de 0%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f6de), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top, #f4f6de 0%,#ffffff 100%); 
	background: -o-linear-gradient(top, #f4f6de 0%,#ffffff 100%); 
	background: -ms-linear-gradient(top, #f4f6de 0%,#ffffff 100%); 
	background: linear-gradient(to bottom, #f4f6de 0%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6de', endColorstr='#ffffff',GradientType=0 ); 
}
// text shadow
@mixin text_shadow($color: $primary_color) {
}