
<!--========
content section
============-->
<div class="content">
	<div class="row">

			<h1>About</h1>

		<div class="small-12 medium-8 columns">
			<h2>Meet Asher</h2>
			<p>CEO and Founder Asher Levine of Blue Community, LLC is a certified interventionist and has 10 years experience working with youth adults and their families in supporting treatment and recovery. He helps empower families by reinstating and reaffirming their intrinsic strength, resilience and hope which is so often lost in the face of addiction.</p>
			<p>Asher brings a wealth of information about addiction, recovery and relapse to families and their loved ones who are suffering the negatives effects of addiction. He knows firsthand the challenges that young adults face socially, academically and vocationally when learning to live in recovery.</p>
			<p>He is a catalyst for leading groups and building communities. Asher has immersed himself in programs spanning from coaching sports camps for kids to pro athletes to helping homeless communities through nonprofits since 1990. The springboard for creating young adult recovery communities and events began with an inaugural sober Spring Break event in 2009. His passion then and now lies in expanding and developing collegiate recovery communities across the U.S.</p>
		</div> <!-- end column -->

		<div class="small-12 medium-4 columns">
			<img src="images/asher.jpg" alt="Asher Levine" />
			<p class="caption">Asher Levine</p>
		</div> <!-- end columns -->

		<div class="small-12 columns">
			<h2>Blue Community, LLC</h2>
			<p>Blue Community is irrevocably committed and relentlessly dedicated to building healthy, prosperous and supportive sober communities for young adults in recovery. The organization serves as a conduit for young adults with addictions and disorders to connect with new friends and comrades at fun, sober events and communities around the nation.</p>
			<h3>History</h3>
			<p>The idea for Blue Community was first talked about during a conversation between Asher and Ken Block of Sister Hazel in November 2008. They were discussing how often young adults are first introduced to drugs or alcohol during the Spring Break period. Drawing on the connection between musicians in recovery and their connection with teens, they came up with an event for teens that is NOT centered around the presence and use of alcohol or drugs. The goal was to build a community where a teen or adolescent’s first Spring Break experience is safe, fun and positive.</p>
			<p>As a result of this conversation, Clean Break events were born. Kicking off in March 2009 with the support of dozens of community partners, 200 high school students representing 78 different high schools enjoyed a day of rock climbing, ice cream, pizza, music and NHL game tickets.</p>
			<p>Building off the success of 2009, Blue Community’s reach continues to grow. The organization partners with local and national sponsors. This generosity makes event participation affordable and accessible for high school seniors 18 and older, college and graduate students of all ages. Blue Community unites young adults for vacation recovery support during New Year’s Eve, Spring Break and Labor Day events.</p>
		</div> <!-- end column -->

	</div> <!-- end row -->
</div> <!-- end content -->