
	<!--============
	features section
	=============-->
	<div class="features">
		<div class="row collapseSides">

			<div class="features_wrapper">

				<div class="small-12 medium-4 columns">
					<div class="feature_box">
						<div class="feature_content">
							<h2>Events</h2>
							<p>Experience unforgettable events that help transform, inspire and unite young adults in recovery! Check out our event calendar and pick the sober celebration that’s right for you.</p>
						</div>

						<a href="events.html" class="learn_more button">More Info</a>
					</div>
				</div> <!-- end column -->

				<div class="small-12 medium-4 columns">
					<div class="feature_box">
						<div class="feature_content">
							<h2>Help Out</h2>
							<p>Want to lend a hand? We’re always in need of dedicated volunteers who are willing to generously donate their time, services or funds at sober events around the nation.</p>
						</div>

						<a href="get-involved.html" class="learn_more button">Help Now</a>
					</div>
				</div> <!-- end column -->

				<div class="small-12 medium-4 columns">
					<div class="feature_box">
						<div class="feature_content">
							<h2>Shop</h2>
							<p>Visit our webstore and get your gear! Relive your latest sober celebration with official t-shirts, hoodies and more.</p>
						</div>

						<a href="http://cymplifymusic.com/cleanbreak/" target="_blank" class="learn_more button">Shop Now</a>
					</div>
				</div> <!-- end column -->

			</div> <!-- end features wrapper -->

		</div> <!-- end row -->
	</div> <!-- end features -->