
	<!--========
	hero section
	============-->
	<div class="hero">

	<!--=== slide container ===-->
		<div class="slideContainer" id="heroSlider">
			<div><img src="modules/core/img/hero1.jpg" /></div>
			<div><img src="modules/core/img/hero2.jpg" /></div>
			<div><img src="modules/core/img/hero3.jpg" /></div>
		</div> <!-- end slide container -->

	<!--=== countdown container ===-->
		<div class="countdownContainer">
			<p>our next<br />event is in:</p>
			<p id="eventTimer">00:00:00:00:00</p>
			<a href="events.html">Reserve a Spot!</a>
		</div> <!-- end countdown container -->

	<!--=== banner container ===-->
		<div class="bannerContainer">
			<h3><a href="get-involved.html">join the movement!</a></h3>
			<p>Help build healthy, prosperous and supportive communities and events for young adults in recovery.</p>
		</div> <!-- end banner container -->

	</div> <!-- end hero -->