
	<!--===============
	testimonial section
	================-->
	<div class="testimonials">

		<span class="fa fa-comments"></span>

		<ul id="testimonials">
			<li>Working with Clean Break to put on the Black and White Ball for New Year’s Eve 2013 was an amazing opportunity to do something I believed in &mdash; to give college students a rocking good time without any pressure to act irresponsibly.<span>&mdash; Michael, Vanderbilt University student</span></li>
			<li>We’ve had several students attend Blue Rock-overy over Labor Day weekend. They had a blast meeting others in recovery from all over the country. We definitely will participate in future “Blue” recovery events.<span>&mdash; Carol Rose, MA, UNC Charlotte<br />Center for Wellness Promotion</span></li>
			<li>Clean Break was the most relaxing and CHEAPEST Spring Break I ever had! It was the highlight of my four years of spring breaks!<span>&mdash; Alex, MTSU student</span></li>
			<li>The Ohio State CRC students loved their Clean Break experience! Asher is great to work with and has such passion and dedication for young adults in recovery.<span>&mdash; Sarah Nerad, Program Manager</span></li>
		</ul>

	</div> <!-- end testimonials -->